{% extends 'base.html' %}
{% block content %}
<section class="page">
  <h2>About the School</h2>
  {% if session.role == 'headteacher' %}
    <p><a class="btn" href="{{ url_for('edit_school_about') }}">Edit About Page</a></p>
  {% endif %}
  <p>{{ content.about_intro }}</p>
  <div class="cards three">
    <div class="card"><h3>Vision</h3><p>{{ content.vision }}</p></div>
    <div class="card"><h3>Mission</h3><p>{{ content.mission }}</p></div>
    <div class="card"><h3>Core Values</h3><p>{{ content.core_values }}</p></div>
  </div>
  <div class="card motto-card">
    <h3>School Motto</h3>
    <p><b>{{ content.motto }}</b></p>
  </div>
</section>
{% endblock %}
